<app-nav></app-nav>
<div class="cover">
    <div class="cover__content">
        <div class="top-section">
            <div class="title">
                <h1 class="title__text">QUIÉNES SOMOS</h1>
                <div class="title__details">
                </div>
            </div>
            <div class="top-section__content">
                <div class="content-preview">
                    <h3 class="content-preview__title">MISIÓN</h3>
                    <p class="content-preview__excerpt">Matricúlate en Armenia es un aplicativo construido para el proceso de inscripciones de los estudiantes, que quieran ingresar en las diferentes Instituciones Educativas de la ciudad de Armenia y sean públicas, con el fin de facilitarle al acudiente el diligenciamiento por medio de un acceso rápido, dinámico y seguro, a través de la utilización de las tecnologías innovadoras. </p>
                </div>
                <div class="content-preview">
                    <h3 class="content-preview__title">VISIÓN </h3>
                    <p class="content-preview__excerpt">Hacer que las Instituciones Educativas y los acudientes se integren entre sí, mediante una solución tecnológica asequible y adaptada a sus necesidades, que son desarrolladas por un equipo de aprendices del programa de la tecnología en Análisis y desarrollo de sistemas de Información del SENA, que disfrutan de su trabajo en un ambiente motivador y entusiasta. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
