<app-nav></app-nav>
<div class="contenedor">
    <div class="parent clearfix">
        <div class="bg-illustration">
            <!-- <img src="https://i.ibb.co/qx2rGq3/Ejercicio-Logo-HF-opt.png" alt=""> -->
        </div>
        <h3>Iniciar Sesión</h3>
        <div class="login">
            <div class="container">
                <div class="login-form">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" (ngSubmit)="loginInstitucion()">
                        <input formControlName="email" type="email" placeholder="E-mail">
                        <input formControlName="password" type="password" placeholder="Contraseña">


                        <div class="forget-pass" *ngIf="load" class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary btn-lg active ">Ingresar</button>
                        </div>
                        <h1>La Educación es el Camino, no el Objetivo</h1>
                        <div class="d-flex justify-content-center ">
                            <div *ngIf="!load " class="spinner-border text-warning " role="status ">
                                <span class="visually-hidden "></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<app-footer></app-footer>

